
@font-face {
    font-family: roboto;
    src: url(../assets/font/Roboto/Roboto-BoldItalic.ttf);
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    align-items: center;
    background: #d0bdf4;
    display: flex;
    height: auto;
    justify-content: center;
    font-size: 100%;
    font-family: roboto;
    font-weight: 700;
}

button,
input {
    font: inherit;
}